<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Movie Library</h1>

    <p>
      <a href="{{ url_for('add_movie') }}">Add a New Movie</a>
    </p>

    {% if movies %}
    <ul>
      {% for movie in movies %}
      <li>
        <strong>{{ movie.title }}</strong>
        ({{movie.year}}) - {{ movie.genre }}
      </li>
      {% endfor %}
    </ul>
    {% else %}
    <p>No movies in the database yet.</p>
    {% endif %}
  </body>
</html>
